
.dropdown {
    width: 400px !important;
    margin: 100px auto !important;
    user-select: none !important;
    position: relative !important;
}

.dropdown-btn {
    padding: 10px 20px !important;
    background: #fff !important;
    box-shadow: 3px 3px 10px 6px rgba(0,0,0,0.06) !important;
    font-weight: bold !important;
    color: #333 !important;
    display: flex !important;
    align-items: center !important;
    cursor: pointer !important;
    justify-content: space-between !important;
}

.dropdown-content {
    position: absolute !important;
    top: 110% !important;
    left: 0 !important;
    padding: 10px 0 !important;
    background: #fff !important;   
    box-shadow: 3px 3px 10px 6px rgba(0,0,0,0.06) !important;
    font-weight: 500 !important;
    color: #333 !important;
    width: 95% !important;
}

.dropdown-content .dropdown-item {
    padding: 5px 10px !important;
    cursor: pointer !important;
    transition: all 0.2s ease !important;
}

.dropdown-content .dropdown-item:hover {
    background: #f4f4f4 !important;
}

 .dropdown-content .dropdown-item.active {
    background: #f4f4f4 !important;
}
